- var reset = {'border': '0', 'cellpadding' :'0', 'cellspacing': '0', 'style': 'margin: 0; padding: 0'};


doctype transitional
html(xmlns = 'http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv = 'Content-Type', content='text/html; charset=UTF-8')
    meta(name = 'format-detection', content='telephone=no')
    meta(name = 'viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;')
    meta(http-equiv = 'X-UA-Compatible', content='IE=9; IE=8; IE=7; IE=EDGE')
    title Page title

  body(style = 'padding:0; margin:0')


    table(
      width = '100%'   
      bgcolor = "#ffffff"
      )&attributes(reset)

      // Header
      tr(
        max-width = '600'    
        )&attributes(reset)
        td(
          border =      '0'
          cellpadding = '0'
          cellspacing = '0'         
          align  = 'center' 
          valign = 'top'
          style =  " margin:0; padding:0;  padding:20px 0 40px 0;  font-family:Arial,Helvetica,sans-serif; "
          width =  '250'
          )
          img(
            src = 'assets/logo.svg'
            alt = 'PALEO YUMS'
            border = '0'
            width  = '100'
            style  = 'display:block;'
            )

      // Main      
      tr(
        max-width = '600px'
        style = ""
        )&attributes(reset)            
        td(
          border =      '0'
          cellpadding = '0'
          cellspacing = '0'         
          align  = 'left' 
          valign = 'top'
          style =  "margin:0 auto; padding:0;  font-family:Arial,Helvetica,sans-serif;  width: 600px;  display:block;"
          width =  '250'
          )    


          h1(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'          
            style =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:22px;  line-height: 66px;  font-family:Arial,Helvetica,sans-serif; "
          ) 
            | Hi friends, Xenia Green here


          p(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'            
            style = "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:19px;  line-height: 22px;  font-family:Arial,Helvetica,sans-serif; "
          )
            | Tired of waiting through anecdotal articles on paleo? Think you are a paleo expert?


          br
          p(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'            
            style = "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:19px;  line-height: 22px;  font-family:Arial,Helvetica,sans-serif; "
          )
            | Here at 
            a(
              href='http://paleoyums.com/'
              border =      '0'
              cellpadding = '0'
              cellspacing = '0'          
              style  =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:inline;  color:#70a64a;  font-size:18px;  line-height: 22px;  font-family:Arial,Helvetica,sans-serif; "
              target = '_blank'
            ) Paleo Yums  
            | we`ve decided to do a little research just for you.


          br
          p(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'            
            style = "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:19px;  line-height: 22px;    font-family:Arial,Helvetica,sans-serif;"
          )
            | Test your knowledge  and get a whole truth in our latest  article-we debank seven  common Paleo diet myths.


          br
          a(
            href='http://paleoyums.com/'
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'          
            style  =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  color:#70a64a;  font-size:19px;  line-height: 22px;  font-family:Arial,Helvetica,sans-serif; "
            target = '_blank'
          ) 7 PALEO MYTHS (+ THE TRUTH ABOUT THE PALEO DIET)


          br
          p(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'            
            style = "margin:0;padding:0;-webkit-text-size-adjust:100%;  display: block;  font-size:19px;  line-height: 22px;    font-family:Arial,Helvetica,sans-serif;"
          )
            | Knowledge is power! Mske sure you`re absolutely clear on all the facts.


          br
          p(
            border =      '0'
            cellpadding = '0'
            cellspacing = '0'            
            style = "margin:0;padding:0;-webkit-text-size-adjust:100%;  display: block;  font-size:19px;  line-height: 22px;    font-family:Arial,Helvetica,sans-serif;"
          )
            | 
            b P.S. 
            | Want to start losing weight without the hassle? Take a look about the Paleo Yums Cookbook. With over 1099 delicious, Mouth watering meals and free 10 week meal plan,  you`ll easily make food that will melt away fat, renew your skin, buil more muscle, supercharge your brain, boost your enrgy and mush more.


          br
          br
          br
          table(       
            border= '0'
            cellpadding= '0'
            cellspacing= '0' 
            width  = '560' 
            height =  '420'
            bgcolor = "#7e6e6e"
            style = " margin:0;padding:0;  background-color: #c7b39b; background-image:url(assets/bg2.jpg);  "
            ) 
            tr(
              border= '0'
              cellpadding= '0'
              cellspacing= '0'            
              width = '420'   
              height =  '75'
              align  = 'center'
              style = "margin:0;padding:117px 106px 0 106px;  display: block;"
            )
              td(
                border= '0'
                cellpadding= '0'
                cellspacing= '0' 
                align  = 'center'
                style = "margin:0;padding:0; display: block; "
              )
                h2(
                  border =      '0'
                  cellpadding = '0'
                  cellspacing = '0'          
                  style =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:24px;  line-height: 28px;  font-family:Arial,Helvetica,sans-serif; color: #ffffff; font-weight: 100;"
                )  
                  | YOU'LL LOVE THE 
                h2(
                  border =      '0'
                  cellpadding = '0'
                  cellspacing = '0'          
                  style =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:26px;  line-height: 28px;  font-family:Arial,Helvetica,sans-serif; color: #9cbf48; font-weight: 700;"
                )
                  | PALEO YUMS COOKBOOK! 
            tr(
              border= '0'
              cellpadding= '0'
              cellspacing= '0'            
              width = '420'   
              height =  '50'
              style = "margin:0;padding:0;  display: block;"
            )
              td(
                border= '0'
                cellpadding= '0'
                cellspacing= '0'                 
                width = '46'
                style = "margin:0;padding:0 10px 0 109px; display:inline-block; "
              )
                img(
                  src = 'assets/arrow_l.svg'
                  alt = 'img'
                  border = '0'
                  width  = ''
                  style  = 'display:block; color: #ffffff;'
                  ) 
              td(
                border= '0'
                cellpadding= '0'
                cellspacing= '0'                 
                width = '102'
                height = '48'
                align  = 'center'    
                bgcolor = "#ff8400"
                style = "margin:0;padding:0 109px 0 10px; display:inline-block; border-radius: 5px;"
              )
                a(
                  href='http://paleoyums.com/'
                  border =      '0'
                  cellpadding = '0'
                  cellspacing = '0'                     
                  align  = 'center'     
                  style =  "margin:0;padding:0;-webkit-text-size-adjust:100%;  display:block;  font-size:16px;  line-height: 50px;  font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-weight:700; width:205px;      text-decoration:blink;  cursor: pointer; "
                  target = '_blank'
                )
                  | BROWSE OUR RECIPES
              td(
                border= '0'
                cellpadding= '0'
                cellspacing= '0'                 
                width = '46'
                style = "margin:0;padding:0 109px 0 10px; display:inline-block;"
              )
                img(
                  src = 'assets/arrow_r.svg'
                  alt = 'img'
                  border = '0'
                  width  = ''
                  style  = 'display:block; color: #ffffff;'
                  )                               

            tr(
              border= '0'
              cellpadding= '0'
              cellspacing= '0'            
              width = '420'   
              height =  '50'
              align  = 'center'   
              style = "margin:0;padding:0;  display: block;"
            )
              td(
                border= '0'
                cellpadding= '0'
                cellspacing= '0'                 
                width = ''
                align  = 'center'   
                style = "margin:0;padding:14px 0; display:inline-block;"
              )            
                span(
                  
                  border =      '0'
                  cellpadding = '0'
                  cellspacing = '0'                     
                  align  = 'center'     
                  style =  "margin:0;padding:0 172px;-webkit-text-size-adjust:100%;  display:block;  font-size:14px;  line-height: 22px;  font-family:Arial,Helvetica,sans-serif; color:#ffffff; font-weight:100; width:215px;      text-decoration:blink; "
                  target = '_blank'
                )
                  |  1099+ Mouth-Watering Recipes  
                  |    for a Healthy Human Diet
 
// border= '0'
// cellpadding= '0'
// cellspacing= '0' 
// style= 'margin: 0; padding: 0'        